<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Owarai Search" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <div class="drawer">
      <input id="app-drawer" type="checkbox" class="drawer-toggle" />
      <!-- メイン -->
      <div class="drawer-content flex flex-col min-h-screen">
        <%= render "shared/header" %>
        <main class="flex-grow bg-base-200">
          <div class="w-full max-w-5xl mx-auto px-4 py-10">

            <% if notice %>
              <div role="alert" class="alert bg-lime-100 border border-lime-300 text-lime-900 shadow-md mb-6 max-w-2xl mx-auto">
                <span><%= notice %></span>
              </div>
            <% end %>

            <% if alert %>
              <div role="alert" class="alert bg-red-100 border border-red-300 text-red-900 shadow-md mb-6 max-w-2xl mx-auto">
                <span><%= alert %></span>
              </div>
            <% end %>

            <!-- 🔥 ここが重要：中身を中央幅に制限 -->
            <div class="max-w-3xl mx-auto">
              <%= yield %>
            </div>

          </div>
        </main>
      <%= render "shared/footer" %>
      </div>
      <!-- サイドバー -->
      <%= render "shared/sidebar" %>
    </div>
  </body>
</html>
